body {
    font-family: 'Khula', sans-serif;
}

nav {
    background: rgba(255,255,255,0.9);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2, h3, h4, h5 {
    margin-top: 20px;
    padding-bottom: 8px;
}

p {
    line-height: 24px;
}

.btn {
    background-color: #A4560C;  /* Dark brown */
    border-radius: 0;
    border: none;
    padding: 0.7em 1.2em 0.6em 1.2em;
    color: #fff;
}

.btn:hover {
    background-color: #C56205;   /* Light brown */
    color: #fff;
}

.btn.cont {
    background-color: #EEF0F1;
    color: #272829;
}

.btn.cont:hover {
    background-color: #A4560C;
    color: #fff;
}

.dropdown-menu {
    border: none;
    background: #674C3D;  /* Dark brown */
    border-radius: 0;
    padding: 0;
}

.dropdown-item {
    color: #fff;
    padding: 10px 12px;
}

.dropdown-item:hover {
    color: #fff;   
    background: #8B6650;  /* Light brown */
}

/* Jumbotron */

.jumbotron {
    height: 400px;
    background-image:url(/img/sanjuanoffice.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    padding: 0px;
}

.animated {
    -webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.jumbotron .bg-overlay {
    height: 400px;
    background: rgba(0,0,0,0.6);
}

.jumbotron:hover .bg-overlay {
    height: 400px;
    background: rgba(0,0,0,0.3);
}

.jumbotron .container {
    position: relative;
    top: 150px;
    text-align: center;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.jumbotron p {
    color: #fff;
    font-size: 20px;
}

/* Main Container */
.container.content {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0 50px;
}

.section {
    margin-top: 50px;
}

.section.testi {
    margin-top: 0px;
    background-color: #372B24;
    color: white;
    padding: 50px;
    height: 300px;
}

.section.testi p {
    padding: 0 60px;
}

#customer {
    font-weight: 600;
}

.carousel-item.testi {
    padding: 0 60px;
}

.article {
    padding-right: 40px;
}

.articleImg {
    width: 240px;
    height: auto;
    border: 4px solid white;
    float: right;
    margin-right: 20px;
}

#carouselExampleIndicators {
    background: black;
    width: 100%;
    height: 100%;
    margin: auto;
}

.carousel-inner img {
    max-width: 800px;
    max-height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    background-size: cover;
    display: block;
    margin: auto;
    border: none;
    width: 100%;
}

#services-icon {
    width: 80px;
    height: 80px;
}

.video {
    display: block;
    margin: auto;
}

.row.video {
    padding: 50px;
}

#picfamily {
    display: block;
    float: right;
    width: 300px;
    height: 400px;
}

blockquote.quote {
    margin:40px 0px;
    padding: 20px;
}

.appt {
    padding: 30px;
}

footer#foo {
    color: #fff;
    background-color: #674C3D;
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-top:80px;
}

footer#foo p {
    margin: 0;
}
